@CHARSET "ISO-8859-1";

.green-cube {
	-fx-background-color: 'green';
}

.red-cube {
	-fx-background-color: 'red';
}

.yellow-cube {
	-fx-background-color: 'yellow';
}

.button {
	-fx-font-size: 20px;
}

.label {
	-fx-font-size: 20px;
}

.list-cell:filled {
	-fx-border-width: 1px;
	-fx-border-style: 'solid';
	-fx-border-color: 'black';
}

.list-cell:empty {
	-fx-background: 'transparent';
	-fx-border-width: 0px;
}

.list-view {
	-fx-border-style: 'none';
	-fx-background: 'transparent';
}

.current-hand {
	-fx-font-size: 60px;
	-fx-margin: 10px;
}